/* footer (DE) */
.footer .c1 {
    width: calc(25% - 45px - 2px) !important; }
.footer .c2 {
    width: calc(25% - 45px - 2px) !important; }
.footer .c3 {
    width: calc(25% + 40px - 2px) !important; }
.footer .c4 {
    width: calc(25% + 40px - 2px) !important; }
/* footer (DE) - end */