/*  Desktop  */
@media screen and (min-width: 550px) {
  .mobile { display: none !important; }
  .desktop { display: block !important; }
  .offer1 .column1 tr { background: url(https://data.progressplay.net/content/promotions/allPromotions/byMonth/2019/11/ChampionsLeague10plus1/email/150X150.png); }
  .offer2 .column1 tr { background: url(https://data.progressplay.net/content/promotions/allPromotions/byMonth/2019/11/EuropaLeagueWagerUp/email/150X150.jpg); }
  .offer3 .column1 tr { background: url(https://data.progressplay.net/content/promotions/allPromotions/byMonth/2019/11/PremierLeague/email/150X150.jpg); }
  .offer4 .column1 tr { background: url(https://data.progressplay.net/content/promotions/allPromotions/byMonth/2019/11/LiverpoolVsManchester/email/150X150.jpg); }
  .offer5 .column1 tr { background: url(https://data.progressplay.net/content/promotions/allPromotions/byMonth/2019/11/Trio/email/150X150.png); }
  .offer6 .column1 tr { background: url(https://data.progressplay.net/content/promotions/allPromotions/byMonth/2019/11/Trio/email/150X150.png); }
  .offer .column1 tr, .offer .column1 tr a { max-width: 150px; height: 150px; display: block; }
  .offer { text-align: left; }
  .offer.offer1, .offer.offer3, .offer.offer5 { direction: rtl; }
  .offer .column { display: table-cell !important; }
  .offer .column2 { width: 65% !important; text-align: center; }
  .offer .column1 { width: 35% !important; }
  .CTA { font-size: 22px !important; }
}
@media screen and (min-width: 1000px) {
  .externalBackground, body { 
    background: url(https://data.progressplay.net/content/promotions/allPromotions/sport/newsletter/email/bg/footballRugbyCricketBasketball.png);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed; }
}
/*  Desktop  - end  */

/* ---- slider ---- */
.sliderWrapper {
  width: 100%;
  overflow: hidden;
  display: block; }
.slider {
  position: relative;
  width: 600%;
  width: calc(100% * 6);
  display: block; }
.slider .slide { 
  position: absolute; }
.flexbox {
  display: flex !important;
  flex-flow: row wrap;
  justify-content: space-around; }
.navigator { 
  display: block !important; }
.navigator .slide { 
  width: 100px;
  padding: 10px !important; }
.navigator .slide img { 
  width: calc(100% - 2px) !important; 
  max-width: 65px; 
  margin: 0 auto; 
  border: 2px solid white; 
  border-radius: 50%; }
.navigator .slide input:checked ~ label img { 
  border-color: red; }
/* ---- slider ---- */
summary:hover, .slide img:hover, .CTA:hover { cursor: pointer; }